body {
  background-color: rgb(203,170,120);
}
h1 {
  color: black;
}

h2 {
  color: gray;
}

h2 {
  color: black;
}

p {
  color: black;
}

div{
	background-color: rgb(222,185,131);
	color: black;
}

